@{
    ViewData["Title"] = "Home Page";
    Layout = "_Guest";
}
@model EcoFriendly.Models.Organization;

<div class="text-center">
    <h1 class="display-4">Welcome, Guest</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
