@{
    ViewData["Title"] = "Home Page";
    Layout = "_Organization";
}
@model EcoFriendly.Models.Organization;

<div class="text-center">
    <h1 class="display-4">Welcome, @Model.Name</h1>
    <div class="jumbotron">
        <p>
            Location: @Model.Location
            Contact: @Model.Email
            Descritpion: @Model.Description
        </p>
    </div>
</div>
